h1{
    color: white;
}
body{
    background-color: black;
}
div{
    height: 130px;
    width: 100px;
}
.a1{
    background-color: #747178;
    margin-top: 64px;
    margin-left: 363px;
}
.a2{
    background-color: #689473;
    margin-top: -130px;
    margin-left: 473px;
}
.a3{
    background-color: #71c987;
    margin-top: -130px;
    margin-left: 583px;
}
.a4{
    background-color: #21ed54;
    margin-top: -130px;
    margin-left: 693px;
}
.a5{
    background-color: #efdcf5;
    margin-top: -130px;
    margin-left: 804px;
}
.a6{
    background-color: orange;
    margin-top: 50px;
    margin-left: 251px;
}
.a7{
    background-color: #db6975;
    margin-top: -130px;
    margin-left: 361px;
}
.a8{
    background-color:#c99db9 ;
    margin-top: -130px;
    margin-left: 471px;
}
.a9{
    background-color: #a184bf;
    margin-top: -130px;
    margin-left: 582px;
}
.a10{
    background-color: #802adb;
    margin-top: -130px;
    margin-left: 693px;
}
.a11{
    background-color: #a27cd9;
    margin-top: -130px;
    margin-left: 804px;
}
.a12{
    background-color: grey;
margin-top: -130px;
margin-left: 915px;
}
.a13{
    background-color: aqua;
    margin-top: 50px;
    margin-left: 139px;
}
.a14{
    background-color: #d0f7a3;
    margin-top: -130px;
    margin-left: 249px;
}
.a15{
    background-color: #ebb160;
    margin-top: -130px;
    margin-left: 359px;
}
.a16{
    background-color: #ab3385;
    margin-top: -130px;
    margin-left: 469px;
}
.a17{
    background-color: #47344a;
    margin-top: -130px;
    margin-left: 580px;
}
.a18{
    background-color: aqua;
    margin-top: -130px;
    margin-left: 691px;
}
.a19{
    background-color: #7dc99d;
    margin-top: -130px;
    margin-left: 802px;
}
.a20{
    background-color: #748699;
    margin-top: -130px;
    margin-left: 913px;
}
.a21{
    background-color: #534d54;
    margin-top: -130px;
    margin-left: 1024px;
}